<div class="container-fluid mb-5" style="background-color: #f1f3ff">
  <!-- Main Header -->
  <div class="container">
    <div class="row py-5 g-5">
      <div class="col-md-6 my-auto ju" style="text-align: justify">
        <h1>Sewa & Rental Mobil Terbaik di kawasan (Lokasimu)</h1>
        <p>
          elamat datang di Binar Car Rental. Kami menyediakan mobil kualitas
          terbaik dengan harga terjangkau. Selalu siap melayani kebutuhanmu
          untuk sewa mobil selama 24 jam.
        </p>
        <a href="/rent-cars">
          <button
            type="button"
            class="btn text-white"
            style="font-weight: bold; background-color: #5cb85f"
          >
            Mulai Sewa Mobil
          </button>
        </a>
      </div>
      <div class="col-md-6">
        <img src="assets/img_car.png" alt="Image Car" class="img-fluid" />
      </div>
    </div>
  </div>
</div>

<section id="our_services">
  <div class="container-fluid pt-md-5 mb-md-5 my-xs-5">
    <div class="container">
      <div class="row align-items-center p-3">
        <div class="col-lg-5 offset-lg-1 mb-xs-5 d-flex justify-content-center">
          <img class="img-fluid" src="assets/img_service.png" alt="" />
        </div>
        <div class="col-lg-5">
          <h1>Best Car Rental for any kind of trip in (Lokasimu)!</h1>
          <p>
            Sewa mobil di (Lokasimu) bersama Binar Car Rental jaminan harga
            lebih murah dibandingkan yang lain, kondisi mobil baru, serta
            kualitas pelayanan terbaik untuk perjalanan wisata, bisnis, wedding,
            meeting, dll.
          </p>
          <p>
            <span><img src="assets/Group 53.png" alt="" /></span>
            Sewa Mobil Dengan Supir di Bali 12 Jam
          </p>
          <p>
            <span><img src="assets/Group 53.png" alt="" /></span>
            Sewa Mobil Lepas Kunci di Bali 24 Jam
          </p>
          <p>
            <span><img src="assets/Group 53.png" alt="" /></span>
            Sewa Mobil Jangka Panjang Bulanan
          </p>
          <p>
            <span><img src="assets/Group 53.png" alt="" /></span>
            Gratis Antar - Jemput Mobil di Bandara
          </p>
          <p>
            <span><img src="assets/Group 53.png" alt="" /></span>
            Layanan Airport Transfer / Drop In Out
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="why_us">
  <div class="container-fluid pt-md-5 mb-md-5 mb-xs-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="text-xs-center">Why Us?</h3>
          <p class="text-xs-center">Mengapa harus pilih Binar Car Rental?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 d-flex col-xl-3 mb-xs-3">
          <div class="card">
            <div class="card-body">
              <img class="mb-3" src="assets/icon_complete.png" alt="" />
              <h5 class="card-title">Mobil Lengkap</h5>
              <p class="card-text">
                Tersedia banyak pilihan mobil, kondisi masih baru, bersih dan
                terawat
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex col-xl-3 mb-xs-3">
          <div class="card">
            <div class="card-body">
              <img class="mb-3" src="assets/icon_price.png" alt="" />
              <h5 class="card-title">Harga Murah</h5>
              <p class="card-text">
                Harga murah dan bersaing, bisa bandingkan harga kami dengan
                rental mobil lain
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex col-xl-3 mb-xs-3">
          <div class="card">
            <div class="card-body">
              <img class="mb-3" src="assets/icon_24hrs.png" alt="" />
              <h5 class="card-title">Layanan 24 Jam</h5>
              <p class="card-text">
                Siap melayani kebutuhan Anda selama 24 jam nonstop. Kami juga
                tersedia di akhir minggu
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex col-xl-3 mb-xs-3">
          <div class="card">
            <div class="card-body">
              <img class="mb-3" src="assets/icon_professional.png" alt="" />
              <h5 class="card-title">Sopir Profesional</h5>
              <p class="card-text">
                Sopir yang profesional, berpengalaman, jujur, ramah dan selalu
                tepat waktu
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="testimonial">
  <div class="container-fluid pt-md-5 mb-md-5 mb-xs-5">
    <div class="container" style="margin-bottom: 3cm">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Testimonial</h3>
          <p>Berbagai review positif dari para pelanggan kami</p>
        </div>
      </div>
      <div class="row">
        <div
          class="rounded col-md-8 offset-md-2 p-xs-4 p-md-5"
          style="background-color: #f1f3ff"
        >
          <div id="carouselExample" class="carousel slide padding_testimonial">
            <div class="row align-items-center">
              <div class="col-1 p-0">
                <button
                  class="btn carousel-control-prev-icon position-relative start-50 translate-middle-x"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="prev"
                ></button>
              </div>
              <div class="col-10">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row align-items-center">
                      <div class="col-md-2">
                        <img
                          class="img-fluid position-relative start-50 translate-middle-x"
                          src="assets/img_photo.png"
                          alt=""
                        />
                      </div>
                      <div class="col-md-10">
                        <div class="row mb-2">
                          <div class="col-md-12 rate_testimonial">
                            <img
                              class="img-fluid"
                              src="assets/Rate.png"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col-md-12">
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod lorem
                            ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod”
                          </div>
                        </div>
                        <div class="row-md-12">
                          <div class="col">
                            <h6>Hasan Nur Wakhid, Semarang</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row align-items-center">
                      <div class="col-md-2">
                        <img
                          class="img-fluid position-relative start-50 translate-middle-x"
                          src="assets/img_photo.png"
                          alt=""
                        />
                      </div>
                      <div class="col-md-10">
                        <div class="row mb-2">
                          <div class="col-md-12 rate_testimonial">
                            <img
                              class="img-fluid"
                              src="assets/Rate.png"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-12">
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod lorem
                            ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod”
                          </div>
                        </div>
                        <div class="row-md-12">
                          <div class="col">
                            <h6>Hasan Nur Wakhid, Semarang</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row align-items-center">
                      <div class="col-md-2">
                        <img
                          class="img-fluid position-relative start-50 translate-middle-x"
                          src="assets/img_photo.png"
                          alt=""
                        />
                      </div>
                      <div class="col-md-10">
                        <div class="row mb-2">
                          <div class="col-md-12 rate_testimonial">
                            <img
                              class="img-fluid"
                              src="assets/Rate.png"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col-md-12">
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod lorem ipsum dolor sit amet,
                            consectetur adipiscing elit, sed do eiusmod lorem
                            ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod”
                          </div>
                        </div>
                        <div class="row-md-12">
                          <div class="col">
                            <h6>Hasan Nur Wakhid, Semarang</h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1 p-0">
                <button
                  class="btn carousel-control-next-icon position-relative start-50 translate-middle-x"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="next"
                ></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid pt-md-5 mb-md-5 mb-xs-5">
  <div
    class="container rounded p-5"
    style="background-color: #0d28a6; margin-bottom: 125px"
  >
    <div class="row">
      <div class="col-md-12 text-center mb-3">
        <div class="text-white">
          <h2>Sewa Mobil di (Lokasimu) Sekarang</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center mb-4 position-relative">
        <div class="text-light m-md-auto jumbotron_teks">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="/rent-cars">
          <button
            style="background-color: #5cb85f"
            class="btn text-white fw-bold"
          >
            Mulai Sewa Mobil
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<section id="faq">
  <div class="container-fluid pt-md-5 mb-md-5 mb-xs-5">
    <div class="container" style="margin-bottom: 125px">
      <div class="row">
        <div class="col-md-4">
          <h3>Frequently Asked Question</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
        <div class="col-md-7 offset-md-1">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="false"
                  aria-controls="collapseOne"
                >
                  Apa saja syarat yang dibutuhkan?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam
                  delectus blanditiis nobis ducimus ratione sed omnis at, quia
                  consequatur. Officia consequatur eum quisquam, animi voluptas
                  deleniti quae ducimus minima iusto!
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  Berapa hari minimal sewa mobil lepas kunci?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Itaque earum temporibus adipisci mollitia fuga quisquam
                  tempora atque dignissimos ea enim sint repudiandae, ducimus
                  obcaecati architecto doloribus! Placeat debitis quas eius.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  Berapa hari sebelumnya sabaiknya booking sewa mobil?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Repudiandae beatae delectus quis labore odio autem, error
                  veniam! Corporis quia sed ratione id cumque? Nihil, animi esse
                  nemo ab dicta eveniet.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  Apakah Ada biaya antar-jemput?
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                  Recusandae nulla distinctio tempore, adipisci autem ipsa
                  quaerat sunt eos rerum quidem nostrum error laborum vero
                  necessitatibus facere? Natus quo eligendi qui?
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Bagaimana jika terjadi kecelakaan?
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi
                  recusandae vitae natus dolorem porro? Officiis ab iusto, porro
                  quis mollitia vel nobis vitae eveniet. Fuga quis quibusdam
                  atque nemo quas!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
